<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication">

    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication">
        <activity android:name=".DatosPersonales"
            android:screenOrientation="portrait"/>
        <activity android:name=".rendimientoDesempeño.ComprensionLectura"
            android:screenOrientation="portrait" />

        <activity android:name=".rendimientoDesempeño.VelocidadDeLectura"
            android:screenOrientation="portrait"/>
        <activity android:name=".funcionesEjecutivas.AtencionSostenida3"
            android:screenOrientation="portrait"/>
        <activity android:name=".funcionesEjecutivas.AtencionSostenida2"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".procesosPerceptivos.DiscriminacionCategorizacionVisual3"
            android:screenOrientation="portrait" />
        <activity
            android:name=".procesosPerceptivos.DiscriminacionCategorizacionVisual2"
            android:screenOrientation="portrait" />
        <activity
            android:name=".funcionesEjecutivas.AtencionDividida"
            android:screenOrientation="portrait" />
        <activity
            android:name=".funcionesEjecutivas.AtencionSelectiva"
            android:screenOrientation="portrait" />
        <activity
            android:name=".rendimientoDesempeño.Competencias_Rendimiento_Desempeno"
            android:screenOrientation="portrait" />
        <activity
            android:name=".procesosPerceptivos.Competencias_Procesos_Perceptivos"
            android:screenOrientation="portrait" />
        <activity
            android:name=".funcionesEjecutivas.Competencias_Funciones_Ejecutivas"
            android:screenOrientation="portrait" />
        <activity
            android:name=".memoriaDeTrabajo.Competencia_Memoria_Trabajo"
            android:screenOrientation="portrait" />
        <activity
            android:name=".competenciasLinguisticas.Competencias_Linguisticas"
            android:screenOrientation="portrait" />
        <activity
            android:name=".lateralidad.Competencias_Lateralidad"
            android:screenOrientation="portrait" />
        <activity
            android:name=".lateralidad.Lateralidad_2"
            android:screenOrientation="portrait" />
        <activity
            android:name=".lateralidad.Lateralidad_1"
            android:screenOrientation="portrait" />
        <activity
            android:name=".procesosPerceptivos.DiscriminacionCategorizacionAuditiva"
            android:screenOrientation="portrait" />
        <activity
            android:name=".procesosPerceptivos.DiscriminacionCategorizacionVisual1"
            android:screenOrientation="portrait" />
        <activity
            android:name=".rendimientoDesempeño.OrtografiaArbitraria_VelocidadEscritura"
            android:screenOrientation="portrait" />
        <activity
            android:name=".rendimientoDesempeño.Reconocimiento_CorreccionErrores"
            android:screenOrientation="portrait" />
        <activity
            android:name=".funcionesEjecutivas.AtencionSostenida1"
            android:screenOrientation="portrait" />
        <activity
            android:name=".memoriaDeTrabajo.MemoriaSecuencialAuditiva"
            android:screenOrientation="portrait" />
        <activity
            android:name=".memoriaDeTrabajo.MemoriaTrabajoAuditiva"
            android:screenOrientation="portrait" />
        <activity
            android:name=".memoriaDeTrabajo.MemoriaSecuencialVisual"
            android:screenOrientation="portrait" />
        <activity
            android:name=".memoriaDeTrabajo.MemoriaVisual"
            android:screenOrientation="portrait" />
        <activity
            android:name=".competenciasLinguisticas.CompetenciaOrtografica"
            android:screenOrientation="portrait" />
        <activity
            android:name=".competenciasLinguisticas.CompetenciaSemantica"
            android:screenOrientation="portrait" />
        <activity
            android:name=".competenciasLinguisticas.CompetenciaSintactica"
            android:screenOrientation="portrait" />
        <activity
            android:name=".competenciasLinguisticas.CompetenciaLexica"
            android:screenOrientation="portrait" />
        <activity
            android:name=".competenciasLinguisticas.CompetenciaSilabica"
            android:screenOrientation="portrait" />
        <activity
            android:name=".competenciasLinguisticas.CompetenciaFonica"
            android:screenOrientation="portrait" />
        <activity
            android:name=".competenciasLinguisticas.CompetenciaAlfabetica"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Componentes"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Login"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>